body {
    background-image: url('./pictures/bgBody.png');
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#game {
    position: relative;
    width: 80vw;
    height: 90vh;
    outline: 3px solid black;
    background-image: url("./pictures/bg.png"); 
    background-repeat: no-repeat;
    margin: 5vh auto;
    background-size: 100% 100%;
}


.diver {
    position: absolute;
    background-image: url('./pictures/scuba-diver.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 100ms linear;
}

.shark {
position: absolute;
background-image: url('./pictures/shark.png');
width: 100%;
background-size: cover;
background-repeat: no-repeat;
transition: all 500ms linear;


}

.plastik {
    position: absolute;
    background-image:url('./pictures/garbage.png');
    background-size: 100% 100%;
    transition: all 1s linear;
    
}

.turtle {
    position: absolute;
    background-image: url('./pictures/turtle.png');
    background-size: 100% 100%;
    transition: all 1s linear;
}

#score {
    font-family: "Audiowide", sans-serif;     
    border-style: groove;
    border-color: lightblue;
    padding: 1%;

    margin-right: 5%;

}
