body {
    background-color: rgb(84, 104, 133);
    text-align: center;
}

#game {
    position: relative;
    width: 80vw;
    height: 80vh;
    outline: 3px solid black;
    background-image: url("../../Pictures/Design ohne Titel.png"); 
    background-repeat: repeat;
    margin: 5vh auto;
    background-size: cover;
}


.diver {
    position: absolute;
    background-color: black;
}

.shark {
position: absolute;
background-image: url("../../Pictures/shark.png");
/* display: block; */
background-size: contain;
background-repeat: no-repeat;
margin: auto;

}

.plastik {
    position: absolute;
    background-color: magenta;
    outline: 2px solid orange;
}

