body {
    background-image: url('./pictures/bgBody.png');
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#game {
    position: relative;
    width: 80vw;
    height: 90vh;
    outline: 3px solid black;
    background-image: url("./pictures/bg1.png"); 
    background-repeat: no-repeat;
    margin: 5vh auto;
    background-size: 100% 100%;
}


.diver {
    position: absolute;
    background-image: url('./pictures/scuba-diver.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.shark {
position: absolute;
background-image: url('./pictures/shark.png');
/* display: block; */
background-size: 100% 100%;
background-repeat: no-repeat;
/* margin: auto; */

}

.plastik {
    position: absolute;
    background-image:url('./pictures/garbage.png');
    background-size: 100% 100%;
    
}

.score {
    font-family: "Audiowide", sans-serif;     
    border-style: groove;
    border-color: lightblue;
    padding: 1%;

    margin-right: 5%;

}
